.vscode/*
index.html
1497857_grafos_01.pdf
1527157_grafos_02.pdf
1536847_grafos_03.pdf
teste.java
TP/matrizadj.exe
TP/questao.exe
TP/questao4.exe
TP/teste.exe
URI/1001.exe
URI/1008.exe
TP/questao3.exe
URI/1010.exe
URI/1009.exe
TP/questao5.exe
TP/saida.txt
