.vscode/*
index.html
1497857_grafos_01.pdf
1527157_grafos_02.pdf
1536847_grafos_03.pdf
aula85.cpp
teste.java
TP/aula85.zip
TP/CadeiaAlimentarBreno.exe
TP/git.exe
TP/matrizadj.exe
TP/questao.exe
TP/questao4.exe
TP/teste.exe
URI/1001.exe
URI/1008.exe
TP/questao3.exe
URI/1010.exe
URI/1009.exe
TP/Marcelo.cpp
TP/questao5.exe
TP/saida.txt
